#	Sequenze di valori
Indicano sequenze di valori. A differenza di linguaggi come il C, in Python una sequenza di valori (es. un Array), può contenere tipi di dato differenti, non necessariamente dello stesso tipo.

Abbiamo:
*	liste: indica delle liste mutabili (si possono aggiungere/modificare/rimuovere gli elementi). Le liste possono essere ordinate, si indicano riportando i valori tra parentesi quadre. Il tipo di dato è list.
*	tuple immutabili: indica un insieme di valori ordinato e non modificabile, i valori si indicano tra parentesi tonde. Il tipo di dato è tuple.
*	range: un range è un intervallo di valori numerici di tipo intero. Il tipo di dato è range.
*	set: insieme di valori non ordinato e non ordinabile che non può essere ripetuto. Il tipo di dato è set.
*	Dizionari: insieme di coppie (chiave, valore). Le chiavi sono univoche (non ci possono essere due chiavi uguali). Il tipo di dato è dict.

## Liste
Una lista è un elenco di valori mutabile non necessariamente dello stesso tipo che possono ripetersi ed è ordinabile. All’inizio l’ordine è dato da come inseriamo gli elementi, ossia il primo elemento inserito sarà il primo e così via.
Una lista si definisce con le parentesi quadre

In [1]:
lst = []         # lst è di tipo list
print(type(lst))
lst2 = [1, 2, 3] # Altro esempio di lista contenente interi
lst3 = [1, 'Prova', 1.4, False] # Lista con dati misti

print(lst3)

<class 'list'>
[1, 'Prova', 1.4, False]

Si può calcolare la lunghezza di una lista con la funzione len(lista).

In generale, la funzione len può esser utilizzata per calcolare il numero di elementi contenuti in un oggetto che contiene collezioni di valori, come ad esempio le stringhe.

In [2]:
print(len(lst2))

3

Si può accedere ad un elemento in una posizione i della lista lst scrivendo lst[i]. La numerazione parte dalla posizione 0. Se viene messo un numero negativo, si indica che si vuole l’i-mo elemento partendo dal fondo della lista.

In [4]:
lst3 = [1, 'Prova', 1.4, False] # Lista con dati misti
print(lst3[0]) # Visualizza 1
print(lst3[3]) # Visualizza False
print(lst3[-1]) # Visualizza False
print(lst3[-2]) # Visualizza 1.4

1
False
False
1.4

Si può anche accedere a pezzi della lista usando la notazione lista[indice iniziale : indice finale].
Questa prenderà gli elementi nell'intervallo maggiore o uguale indice iniziale e minore dell'indice finale.


Anche in questo caso si possono usare indici negativi per indicare un intervallo che parte dal fondo (è come scrivere dimensione della lista – valore).

Se l'indice iniziale viene omesso, è come mettere 0 (quindi l'inizio della lista), se viene omesso l'indice finale è come mettere la dimensione della lista (quindi includere l'ultimo elemento).

In [5]:
lst3 = [1, 'Prova', 1.4, False] # Lista con dati misti
print(lst3[0:2]) # Visualizza: 1, Prova
print(lst3[:2])  # Visualizza: 1, Prova
print(lst3[2:])  # Visualizza: 1.4, False
print(lst3[1:-1])# Visualizza: Prova, 1.4

[1, 'Prova']
[1, 'Prova']
[1.4, False]
['Prova', 1.4]

È possibile aggiungere valori ad una lista con i metodi lst.insert(pos, el) e lst.append(el). Il primo inserisce un nuovo elemento el nella posizione specificata da pos, il secondo aggiunge l’elemento el in coda alla lista.

In [6]:
lst = [1, 2, 3]
lst.append(4)
print(lst) # Visualizza: 1, 2, 3, 4
lst.insert(0, 10)
print(lst) # Visualizza: 10, 1, 2, 3, 4

[1, 2, 3, 4]
[10, 1, 2, 3, 4]

È possibile rimuovere elementi da una lista con i metodi:
*	lst.remove(val) rimuove la prima occorrenza di val. Quindi se val è ripetuto non elimina tutte le occorrenze.
*	lst.pop(pos) rimuove l'elemento nella posizione i-ma;
*	lst.clear() rimuove tutti gli elementi dalla lista.

In [7]:
lst = [1, 2, 1, 3]
lst.remove(1) # Rimuove tutte le occorrenze di 1
print(lst) # Visualizza: 2, 1, 3
lst.pop(2) # Rimuove l'elemento in posizione 2
print(lst) # Visualizza: 2, 1

[2, 1, 3]
[2, 1]

Una lista può essere ordinata con il metodo list.sort([key=fn, reverse=False]).
Nella sua forma base il metodo può essere passato senza parametri per ottenere un ordinamento crescente di default. Se si vuole un ordinamento in ordine decrescente, bisogna aggiungere il parametro reverse=False.
Key consente di passare una funzione che dice su cosa ordinare. Ad esempio, se abbiamo una lista di oggetti con varie proprietà, potremmo implementare una funzione che estrae una specifica proprietà da ogni oggetto e la usa per ordinare. Vedremo questa funzionalità in dettaglio più avanti.

In [8]:
lst = [1, 2, 1, 3]
lst.sort()
print(lst) # Visualizza: 1, 1, 2, 3
lst.sort(reverse=True)
print(lst) # Visualizza: 3, 2, 1, 1

[1, 1, 2, 3]
[3, 2, 1, 1]

Possiamo unire due liste usando l'operatore +

In [9]:
lst1 = [1, 2]
lst2 = [3, 4]
lst3 = lst1 + lst2
print(lst3) # Visualizza: 1, 2, 3, 4

[1, 2, 3, 4]

## Tuple
Una tupla è un elenco ordinato di valori non modificabile. Si definisce elencando i valori, non necessariamente dello stesso tipo, tra parentesi tonde.
L'accesso agli elementi è indicizzato come per le liste.

In [10]:
mr = (1, "Mario", "Rossi", "Milano") # Esempio di tupla
print(mr[0])# Visualizza: 1
print(mr[-1])# Visualizza: Milano
print(mr[0:2]) # Visualizza: 1, Mario
print(mr[:2])  # Visualizza: 1, Mario
print(mr[1:-1])# Visualizza: Mario, Rossi

1
Milano
(1, 'Mario')
(1, 'Mario')
('Mario', 'Rossi')

## Range
Un range è un elenco di valori interi, viene calcolato solo in fase di utilizzo. Si può definire in tre modi:
*	range(valoreMax): calcola un range di valori da 0 a rangeMax-1, con un incremento di 1;
*	range(valoreMin, valoreMax): calcola un range di valori da valoreMin a valoreMax-1 con un incremento di 1;
*	range(valoreMin, valoreMax, incremento): calcola un range di valori da valoreMin a valoreMax-1 con un certo incremento da un valore all’altro.


Se si vuole visualizzare il contenuto di un range (cioè i valori veri e propri) questo va convertito prima in una lista.

In [12]:
r = range(5)    # Range che conterrà 0, 1, 2, 3, 4
print(r)        # Visualizza range(0, 5)
print(list(r))  # Visualizza 0, 1, 2, 3, 4
r = range(2, 5) # Range che conterrà 2, 3, 4
print(list(r))
r = range(0, 8, 2) #Range che conterrà 0, 2, 4, 6
print(list(r))

range(0, 5)
[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 2, 4, 6]

## Set
Un set è un elenco di valori, non necessariamente dello stesso tipo, senza ripetizione non ordinato. Non essendo ordinato non si può accedere agli elementi di un set tramite indice.
Un set si definisce elencando i valori tra parentesi graffe oppure con l'istruzione specifica set.

In [13]:
s = {1, 2, 3, 1, 2}
print(s) # Visualizza 1, 2, 3 perché i duplicati sono rimossi

s = set([1, 2, 3, 1, 2]) # Altro modo per definire un set
print(s)

{1, 2, 3}
{1, 2, 3}

Si può verificare se un elemento esiste in un set con l’operatore in (può anche essere usato su liste/tuple), oppure se non esiste con not in.

In [14]:
s = {1, 2, 3, 1, 2}
print(1 in s)     # Ritornerà True
print(10 in s)    # Ritornerà False
print(5 not in s) # Ritornerà True

True
False
True

## Si possono aggiungere elementi in un set con il metodo s.add(el).

In [15]:
s = {1, 2, 3}
s.add(4)
print(s) # Visualizzerà 1, 2, 3, 4

{1, 2, 3, 4}

Si può eliminare un elemento specifico con s.remove(el). Si può anche recuperare un elemento rimuovendolo dal set con s.pop(), che preleva un elemento in modo casuale dal set e lo rimuove.

In [16]:
s = {1, 2, 3}
s.remove(2)
print(s) # Visualizzerà 1, 3

{1, 3}

In [17]:
s = {1, 2, 3}
el = s.pop() # Rimuove un elemento dal set in modo casuale
print(el)
print(s)

1
{2, 3}

È possibile fare unione, intersezione e differenza tra set. Unione e intersezione sono commutative, la differenza no.

In [18]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.union(s2)) # Unisce s1 con s2, visualizza 1, 2, 3, 4
print(s1.intersection(s2)) #Intersezione, visualizza: 2, 3
print(s1.difference(s2)) #s1 meno s2, visualizza: 1
print(s2.difference(s1)) #s2 meno s1, visualizza: 4

{1, 2, 3, 4}
{2, 3}
{1}
{4}

## Dizionari
Un dizionario rappresenta coppie (chiave, valore), ad ogni chiave è associato un valore.

Si può definire imponendo una variabile di tipo dict() e poi definendo una nuova chiave come dict[chiave] = valore.

Un dictionary può essere anche definito con le parentesi graffe come per i set.

In [19]:
d = dict() # d è un dictionary
d['mela'] = 1 # Inseriamo una chiave mela con valore 1
d['pera'] = 2 # Inseriamo una chiave pera con valore 2

print(d)

# Altro modo per definire un dictionary
d1 = {'banana': 3, 'mela': 1, 'pera': 2}
print(d1)

{'mela': 1, 'pera': 2}
{'banana': 3, 'mela': 1, 'pera': 2}

Si può accedere a tutte le chiavi contenute in un dictionary con il metodo .keys(), mentre a tutti i valori con il metodo .values()

In [20]:
d = dict() # d è un dictionary
d['mela'] = 1 # Inseriamo una chiave mela con valore 1
d['pera'] = 2 # Inseriamo una chiave pera con valore 2

print(d.values())# Visualizzerà [1, 2]
print(d.keys()) # Visualizzerà ['mela', 'pera']

dict_values([1, 2])
dict_keys(['mela', 'pera'])

Si può rimuovere una chiave da un dictionary con il metodo .pop(chiave) che ritornerà anche il valore associato alla chiave.

In [22]:
d = dict() # d è un dictionary
d['mela'] = 1 # Inseriamo una chiave mela con valore 1
d['pera'] = 2 # Inseriamo una chiave pera con valore 2

v = d.pop('pera') # Rimuove la chiave pera dal dictionary
print(v) # Visualizza 2
print(d)

2
{'mela': 1}