# Variabili e tipi di dato
Una variabile è un contenitore che conserva un determinato valore a cui è associato un nome.

In [1]:
variabile = 10


Ad ogni variabile è associato un tipo di dato, che però non viene definito in fase di scrittura del codice, ma viene "calcolato" dall'interprete in fase di esecuzione della variabile sulla base di ciò che le viene assegnato.

Possiamo vedere il tipo di dato di una variabile con la funzione nativa *type(variabile)*

In [2]:
type(variabile)

int

Il tipo di dato di una variabile può cambiare durante l'esecuzione, per questo Python è un linguaggio a tipizzazione dinamica.

In [3]:
variabile = "stringa"
type(variabile)

str

Inoltre, essendo Python un linguaggio orientato agli oggetti, ogni tipo di dato è una classe e di conseguenza ogni variabile è un oggetto che implementa quella classe e avrà i suoi metodi.

In [4]:
variabile.upper()

'STRINGA'

## Numeri
Non hanno un'occupazione fissa in byte (come ad esempio in C/C++), ma cambia in base ai bit richiesti per memorizzare il valore associato.
*	int: numeri interi;
*	float: numeri con la virgola;

In [6]:
a = 5 # a è di tipo intero
b = 1.5 # b è di tipo decimale
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

## Stringhe
Sequenze di caratteri, il tipo di dato è str. Si può definire una stringa includendola nei doppi apici (") oppure tra apici singoli (').

In [13]:
str1 = "questa è una stringa"
str2 = 'anche questa'
print(type(str1))
print(type(str2))

<class 'str'>
<class 'str'>

## Booleani
Indicano il valore vero (True) o falso (False). Il tipo di dato è bool.

In [11]:
vero = True
falso = False
print(type(vero))
print(type(falso))

<class 'bool'>
<class 'bool'>

## Assenza di valore

L'assenza di valore è indicata con un tipo di dato speciale chiamato NoneType e si ottiene assegnando ad una variabile il valore None.

In [14]:
valore_mancante = None
print(type(valore_mancante))

<class 'NoneType'>

## Conversione da un tipo ad un altro
Si può fare il cast esplicito da un tipo di dato ad un altro (eventualmente si ottiene un errore se questo non è possibile) facendo variabile2 = tipo_dato(variabile1).

In [15]:
a = "5.5" # Valore decimale memorizzato come stringa
print(type(a))
a = float(a) # Conversione del valore in float
print(type(a))

<class 'str'>
<class 'float'>